# Import the remote module
export TF_CLI_INIT_FROM_MODULE="git::https://github.com/cloudposse/terraform-root-modules.git//aws/account-dns?ref=tags/0.35.1"
export TF_CLI_PLAN_PARALLELISM=2

use terraform
use atlantis
use tfenv
