{{ if env "CF_EXIT_CODE" | eq "0" }}
## Terraform {{ env "TF_COMMAND" | upper }} [![Codefresh Build Status](https://img.shields.io/badge/{{ env "TF_COMMAND" | default "unknown" }}-success-success.svg)](https://g.codefresh.io/builds?filter=repoName:{{ env "CF_REPO_NAME" }};branch:{{ env "CF_BRANCH" }})
{{ else }}
## Terraform {{ env "TF_COMMAND" | upper }} [![Codefresh Build Status](https://img.shields.io/badge/{{ env "TF_COMMAND" | default "unknown" }}-failure-critical.svg)](https://g.codefresh.io/builds?filter=repoName:{{ env "CF_REPO_NAME" }};branch:{{ env "CF_BRANCH" }})
{{ end }}
<details>
  <summary>View output</summary>

```
{{ regexReplaceAllLiteral "\\n" ( regexReplaceAllLiteral "^\\s+|\\s+$" . "" ) "<br>" }}
```
</details>
