{{ if env "TF_COMMAND" | eq "plan" }}
{{ if env "TF_EXIT_CODE" | eq "0" }}
## Terraform {{ env "TF_COMMAND" | title }} [![Codefresh Build Status](https://img.shields.io/badge/{{ env "TF_COMMAND" | default "unknown" }}-no_changes-success.svg)](https://g.codefresh.io/build/{{ env "CF_BUILD_ID" }})
{{ else if env "CF_EXIT_CODE" | eq "2" }}
## Terraform {{ env "TF_COMMAND" | title }} [![Codefresh Build Status](https://img.shields.io/badge/{{ env "TF_COMMAND" | default "unknown" }}-success-success.svg)](https://g.codefresh.io/build/{{ env "CF_BUILD_ID" }})
{{ else }}
## Terraform {{ env "TF_COMMAND" | title }} [![Codefresh Build Status](https://img.shields.io/badge/{{ env "TF_COMMAND" | default "unknown" }}-failure-critical.svg)](https://g.codefresh.io/build/{{ env "CF_BUILD_ID" }})
{{ end }}
{{ else }}
{{ if env "TF_EXIT_CODE" | eq "0" }}
## Terraform {{ env "TF_COMMAND" | title }} [![Codefresh Build Status](https://img.shields.io/badge/{{ env "TF_COMMAND" | default "unknown" }}-no_changes-success.svg)](https://g.codefresh.io/build/{{ env "CF_BUILD_ID" }})
{{ else }}
## Terraform {{ env "TF_COMMAND" | title }} [![Codefresh Build Status](https://img.shields.io/badge/{{ env "TF_COMMAND" | default "unknown" }}-failure-critical.svg)](https://g.codefresh.io/build/{{ env "CF_BUILD_ID" }})
{{ end }}
{{ end }}
<details>
  <summary>View output</summary>

```
{{ . | trim }}
```
**Exit Code:** ({{ env "TF_EXIT_CODE" | default "?" }})
</details>
